{% extends "_portal_shell.html" %}
{% load i18n %}

{% block portal_area %}{% trans "Совет" %}{% endblock %}
{% block portal_sections %}{% include "council/_sections.html" %}{% endblock %}

{% block portal_body %}
  <div class="phead">
    <h1>{% block portal_title %}{% trans "Совет прихода" %}{% endblock %}</h1>
    {% block portal_count %}{% endblock %}
    <div class="phead__actions">{% block portal_actions %}{% endblock %}</div>
    {% block portal_lede %}{% endblock %}
  </div>
  {% block portal_content %}{% endblock %}
{% endblock %}
